/** Google Fonts **/
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@1,600&family=Roboto&display=swap');

/** General **/

body {
  background-color: #f1f1f1;
  font-family: 'Roboto', sans-serif;
  color: #131925;
  font-size: 1rem;
}

section {
  position: relative;
  margin-bottom: 20vh;
}

nav {
  background-color: #313a33;
}

.footer {
  text-align: center;
  background-color: #313a33;
  color: #e9d2c2;
  height: 10vh;
  margin-top: 1rem;
}

.navbar .navbar-brand {
  color: #e9d2c2;
  font-family: 'Exo 2', sans-serif;
}

a.nav-link {
  color: #e9d2c2;
}

button.navbar-toggler {
  color: #e9d2c2;
}

.social-links {
  padding-top: 0.5rem;
}

.social-links-list {
  margin-bottom: 0.5rem;
}

button a.btn {
  background-color: #b3a470;
  border: 0.15rem solid #131925;
  color: #f1f1f1;
  font-size: 1rem;
  border-radius: 20px;
  padding: 1rem;
}

/** index.html **/

.hero-image {
  height: 80vh;
  background: url(../images/london-at-night.jpg) no-repeat top left;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.top10 {
  max-height: 60vh;
  padding-bottom: 20vh;
  position: relative;
}

.top10-title {
  margin: 1rem 1rem 1rem 0;
}

div.top10-cards {
  border-radius: 20px;
  margin-bottom: 1rem;
  height: 40vh;
}

div.card-body {
  color: #f1f1f1;
  background-color: #b3a470;
  border: 0.15rem solid #131925;
  margin-bottom: 15vh;
}

.card-img-top{
  height: 40vh
}