/******************** Google Fonts ********************/
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@1,600&family=Roboto&display=swap');

/******************** General ********************/

body {
  background-color: #f1f1f1;
  font-family: 'Roboto', sans-serif;
  color: #131925;
  font-size: 1rem;
}

section {
  position: relative;
  margin-top: 15vh;
}

nav {
  background-color: #313a33;
  height: 10vh;
}

h1 {
  margin: 1rem;
  padding-top: 1rem;
}

h2 {
  font-size: 1.5em;
}

.footer {
  text-align: center;
  background-color: #313a33;
  color: #e9d2c2;
  height: 15vh;
  margin: 1rem 0 0 0;
}

footer.container-fluid {
  padding: 0;
}

.navbar .navbar-brand {
  color: #e9d2c2;
  font-family: 'Exo 2', sans-serif;
}

a.nav-link {
  color: #e9d2c2;
}

.navbar-collapse {
  background-color: #313a33;
}


.list-inline-item {
  margin: 0.5rem 0.5rem 0 0.5rem;
}

.social-links-list {
  margin-bottom: 0.5rem;
}

.footer-row{
  margin-right: 0;
  margin-left: 0;
}

.legal-info p {
  margin-bottom: 0;
}


button.btn {
  background-color: #b3a470;
  border: 0.15rem solid #131925;
  color: #f1f1f1;
  font-size: 1rem;
  border-radius: 20px;
  font-weight: bold;
}

button.btn:hover {
  background-color: #313a33;
  border: 0.15rem solid #131925;
  color: #b3a470;
  font-size: 1rem;
  border-radius: 20px;
  font-weight: bold;
}



/******************** index.html ********************/

.hero-image {
  height: 60vh;
  background: url(../images/london-at-night.jpg) no-repeat top left;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  position: relative;
  margin: 0 5px 0 5px;
}

button a.btn {
  padding: 1rem;
}

div.top10-cards {
  border-radius: 20px;
  margin: 1rem 1rem 0 1rem;
}

div.card-body {
  color: #f1f1f1;
  background-color: #b3a470;
  border: 0.15rem solid #131925;
}

.card image.card-img-top {
  height: 180px;
}


/******************** destinations.html ********************/

.accordian-image img {
  margin: auto;
  display: block;
  padding-bottom: 1rem;
}

/******************** accomodation.html ********************/

.info-box {
  background-color: #e9d2c2;
}

.info-box-header {
  text-align: center;
}

.info-map-container{
  padding: auto 1rem auto 1rem;
}

#info-detials-hotel {
  padding: 1rem;
}

div#map {
  min-height: 360px;
}

